.background {
    background-image: url("gambar/banner.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
}

.g1 {
    margin-top: 255px;
}

.t1 {
    position: relative;
    top: -300px;
    right: 150px;
}

.p1 {
    position: relative;
    top: -200px;
    right: 600px;
}

.vidbackground2 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: rgb(142, 198, 243);
}

.body2 {
    margin: 0%;
}

.g2 {
    margin-top: 0px;
    position: relative;
    top: 240px;
}

.t2 {
    position: relative;
    top: -100px;
    right: 150px;
}

.p2yay {
    position: relative;
    top: 50px;
    right: 600px;
}

.p2hellnah {
    position: relative;
    top: 120px;
    right: 850px;
}

.vidbackground3 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: rgb(142, 198, 243);
}

.g3 {
    margin-top: 0px;
    position: relative;
    top: 240px;
}

.t3 {
    position: relative;
    top: -100px;
    right: 150px;
}

.p3-1 {
    position: relative;
    top: 20px;
    right: 650px;
}

.p3-2 {
    position: relative;
    top: 95px;
    right: 920px;
}


.vidbackground6 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: rgb(142, 198, 243);
}

.g6 {
    margin-top: 0px;
    position: relative;
    top: 231px;
}

.p1-6 {
    position: relative;
    top: 50px;
    right: 100px;
}

.vidbackground5 {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: rgb(142, 198, 243);
}

.g5 {
    margin-top: 0px;
    position: relative;
    top: 246px;
}

.vidbackground4 {
    width: 0px;
    height: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-color: rgb(142, 198, 243);
}